/* main.css */

body {
  background-color: lightyellow;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
}

h1 {
  margin: 0;
}

#user-profile {
  display: flex;
  align-items: center;
}

#user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

main {
  padding: 20px;
}

#qr-code-form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: brightyellow;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#qr-code-display {
  text-align: center;
}

h2 {
  margin-top: 0;
}

#qr-code-display img {
  max-width: 200px;
  margin-bottom: 10px;
}

#success-message,
#error-message {
  display: none;
  color: green;
  margin-top: 10px;
}

#qr-code-history {
  margin-top: 20px;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}
